<div class="row">
    <div class="col-sm-4 col-xl-3">
      <div class="panel panel-tile text-center br-a br-grey">
        <div class="panel-body">
          <h1 class="fs30 mt5 mbn">1426</h1>
          <h6 class="text-system">Demandes</h6>
        </div>
        <div class="panel-footer br-t p12">
          <span class="fs11">
            <i class="fa fa-arrow-up pr5"></i> En Cours
            <b></b>
          </span>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xl-3">
      <div class="panel panel-tile text-center br-a br-grey">
        <div class="panel-body">
          <h1 class="fs30 mt5 mbn">63262</h1>
          <h6 class="text-success">Demandes</h6>
        </div>
        <div class="panel-footer br-t p12">
          <span class="fs11">
            <i class="fa fa-arrow-up pr5"></i> Rejetés
            <b></b>
          </span>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xl-3">
      <div class="panel panel-tile text-center br-a br-grey">
        <div class="panel-body">
          <h1 class="fs30 mt5 mbn">248</h1>
          <h6 class="text-warning">Demandes</h6>
        </div>
        <div class="panel-footer br-t p12">
          <span class="fs11">
            <i class="fa fa-arrow-up pr5 text-success"></i> Attestation de Réussite
            <b>DUT</b>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-xl-3">
      <div class="panel panel-tile text-center br-a br-grey">
        <div class="panel-body">
          <h1 class="fs30 mt5 mbn">1426</h1>
          <h6 class="text-system">Demandes</h6>
        </div>
        <div class="panel-footer br-t p12">
          <span class="fs11">
            <i class="fa fa-arrow-up pr5"></i> En Cours
            <b></b>
          </span>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xl-3">
      <div class="panel panel-tile text-center br-a br-grey">
        <div class="panel-body">
          <h1 class="fs30 mt5 mbn">63262</h1>
          <h6 class="text-success">Demandes</h6>
        </div>
        <div class="panel-footer br-t p12">
          <span class="fs11">
            <i class="fa fa-arrow-up pr5"></i> Rejetés
            <b></b>
          </span>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xl-3">
      <div class="panel panel-tile text-center br-a br-grey">
        <div class="panel-body">
          <h1 class="fs30 mt5 mbn">248</h1>
          <h6 class="text-warning">Demandes</h6>
        </div>
        <div class="panel-footer br-t p12">
          <span class="fs11">
            <i class="fa fa-arrow-up pr5 text-success"></i> Attestation de Réussite
            <b>DUT</b>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-xl-3">
      <div class="panel panel-tile text-center br-a br-grey">
        <div class="panel-body">
          <h1 class="fs30 mt5 mbn">1426</h1>
          <h6 class="text-system">Demandes</h6>
        </div>
        <div class="panel-footer br-t p12">
          <span class="fs11">
            <i class="fa fa-arrow-up pr5"></i> En Cours
            <b></b>
          </span>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xl-3">
      <div class="panel panel-tile text-center br-a br-grey">
        <div class="panel-body">
          <h1 class="fs30 mt5 mbn">63262</h1>
          <h6 class="text-success">Demandes</h6>
        </div>
        <div class="panel-footer br-t p12">
          <span class="fs11">
            <i class="fa fa-arrow-up pr5"></i> Rejetés
            <b></b>
          </span>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xl-3">
      <div class="panel panel-tile text-center br-a br-grey">
        <div class="panel-body">
          <h1 class="fs30 mt5 mbn">248</h1>
          <h6 class="text-warning">Demandes</h6>
        </div>
        <div class="panel-footer br-t p12">
          <span class="fs11">
            <i class="fa fa-arrow-up pr5 text-success"></i> Attestation de Réussite
            <b>DUT</b>
          </span>
        </div>
      </div>
    </div>
  </div>