<div id="main">
  <app-header></app-header>
  <section id="content_wrapper">
    <br/> <br/> <br/> 
    <header id="topbar" class="alt" style="position: fixed;">
      <div class="topbar-left">
          <ol class="breadcrumb">
              <li class="crumb-active">
                  <a href="dashboard.html">Dashboard</a>
              </li>
              <li class="crumb-icon">
                  <a href="dashboard.html">
                      <span class="glyphicon glyphicon-home"></span>
                  </a>
              </li>
              <li class="crumb-link">
                  <a href="index.html">Home</a>
              </li>
              <li class="crumb-trail">Dashboard</li>
          </ol>
      </div>
  </header>
  <br/> <br/> <br/> 
    <div *ngIf="total" class="mt-5 container">
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-tile text-center br-a br-grey">
            <div class="panel-body">
              <h1 class="fs30 mt5 mbn">{{total.cours}}</h1>
              <h6 class="text-system">Demande(s)</h6>
            </div>
            <div class="panel-footer br-t p12">
              <span class="fs11">
                <i class="fa fa-arrow-up pr5"></i> En Cours
                <b></b>
              </span>
            </div>
          </div>
        </div>
        <div  class="col-md-4">
          <div class="panel panel-tile text-center br-a br-grey">
            <div class="panel-body">
              <h1 class="fs30 mt5 mbn">{{total.termine}}</h1>
              <h6 class="text-success">Demande(s)</h6>
            </div>
            <div class="panel-footer br-t p12">
              <span class="fs11">
                <i class="fa fa-arrow-up pr5"></i> Terminées
                <b></b>
              </span>
            </div>
          </div>
        </div>
        <div  class="col-md-4">
          <div class="panel panel-tile text-center br-a br-grey">
            <div class="panel-body">
              <h1 class="fs30 mt5 mbn">{{total.termine+total.cours}}</h1>
              <h6 class="text-warning">Demande(s)</h6>
            </div>
            <div class="panel-footer br-t p12">
              <span class="fs11">
                <i class="fa fa-arrow-up pr5 text-success"></i> Attestation de Réussite
              </span>
            </div>
          </div>
        </div>
      </div>

      <app-footer></app-footer>
    </div>
  
  </section>
</div>