<header class="navbar navbar-fixed-top navbar-shadow">
    <div class="navbar-branding">
        <div class="navbar-brand">
            <span>Documents administratifs</span>
        </div> 
    </div>
    <ul class="nav navbar-nav navbar-right">
              
      <li class="dropdown menu-merge">
      <div   class="navbar-btn btn-group">
          <div style="font-size: 15px;cursor: pointer">
          <span >
              <strong > Se deconnecter
              </strong>
          </span>
          </div>
      </div>
      </li>
    </ul>
</header>
<aside id="sidebar_left" class="nano nano-light affix">
    <div class="sidebar-left-content nano-content">
            <div class="sidebar-widget author-widget">
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="assets/img/avatars/3.jpg" class="img-responsive">
                    </a>
                    <div class="media-body">
                        <div class="media-author">Ibrahima DIOP</div>
                    </div>
                </div>
            </div>
        <ul class="nav sidebar-menu">
            <li>
                <a class="nav-link" routerLink="/etudiant/services" routerLinkActive="active">
                    <span class="glyphicon glyphicon-book"></span>
                    <span class="sidebar-title">accueil</span>
                </a>
            </li>
                            
       </ul>
    </div>
</aside>