<header class="navbar navbar-fixed-top navbar-shadow">
    <div class="navbar-branding">
        <div class="navbar-brand">
            <span>Documents administratifs</span>
        </div> 
    </div>
    <ul class="nav navbar-nav navbar-right">
              
      <li class="dropdown menu-merge">
      <div   class="navbar-btn btn-group">
          <div style="font-size: 15px;cursor: pointer">
          <span  (click)='logOut()'>
              <strong > Se deconnecter
              </strong>
          </span>
          </div>
      </div>
      </li>
    </ul>
</header>
<aside id="sidebar_left" class="nano nano-light affix">

    <!-- Start: Sidebar Left Content -->
    <div class="sidebar-left-content nano-content">

        <!-- Start: Sidebar Header -->
        <header class="sidebar-header">


            <!-- Sidebar Widget - Search (hidden) -->
            <div class="sidebar-widget search-widget hidden">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                     </span>
                    <input type="text" id="sidebar-search" class="form-control" placeholder="Search...">
                </div>
            </div>

        </header>
        <!-- End: Sidebar Header -->

        <!-- Start: Sidebar Menu -->
        <ul class="nav sidebar-menu">
            <li class="sidebar-label pt20" >
                <span style="font-size: 15px;" class="glyphicon glyphicon-dashboard"></span>
                <strong style="font-size: 15px;">Tableau de bord</strong> 
            </li>
            <li *ngFor="let item of menu" style="margin-right: 60px;">
                <a class="accordion-toggle" routerLink='{{item.nameRoute}}' [routerLinkActive]="['actives']" style="height: 50px">
                    <span class="glyphicon glyphicon-home"></span>
                    <span style="font-size: 15px" class="sidebar-title">{{item.name}}</span>
                    <span class="caret"></span>
                </a>
            </li >
         
          
            <!-- sidebar resources -->
        


            <!-- sidebar bullets -->
        </ul>
        <!-- End: Sidebar Menu -->

        <!-- Start: Sidebar Collapse Button -->
                
        <!-- End: Sidebar Collapse Button -->

   
    <!-- End: Sidebar Left Content -->

    </div>
</aside>