<div id="main">
  <app-header></app-header>
  <section id="content_wrapper">
    <br/> <br/> <br/> 
      <header id="topbar" class="alt" style="position: fixed;">
          <div class="topbar-left">
              <ol class="breadcrumb">
                  <li class="crumb-active">
                      <a href="dashboard.html">Dashboard</a>
                  </li>
                  <li class="crumb-icon">
                      <a href="dashboard.html">
                          <span class="glyphicon glyphicon-home"></span>
                      </a>
                  </li>
                  <li class="crumb-link">
                      <a href="">Home</a>
                  </li>
                  <li class="crumb-trail">Profil</li>
              </ol>
          </div>
      </header>
      <br/> <br/> <br/> 
    <div  *ngIf="user"  class="mt-5 container">
      <section id="content" class="animated fadeIn">

        <!-- Begin .page-heading -->
        <div class="page-heading">
            <div class="media clearfix">
              <div class="media-left pr30">
                <a href="#">
                  <img class="media-object mw150" src="assets/img/avatars/profile_avatar.jpg" alt="...">
                </a>
              </div>                      
              <div class="media-body va-m">
                <h2 class="media-heading">{{user.prenom}} {{user.nom}}
                  <small> - Profile</small>
                </h2>
              </div>
            </div>
        </div>
       
        <div class="row">
            <div class="col-md-10">
              <div class="panel">
                <div class="panel-heading">
                  <span class="panel-icon">
                    <i class="fa fa-star"></i>
                  </span>
                  <span class="panel-title"> Informations personnelles</span>
                </div>
                <div class="panel-body pn">
                  <table class="table mbn tc-icon-1 tc-med-2 tc-bold-last">
                    <thead>
                      <tr class="hidden">
                        <th class="mw30">#</th>
                        <th>First Name</th>
                        <th>Revenue</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Numero Etudiant</td>
                        <td>
                          <i ></i>{{user.numeroEtudiant}}</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td>
                          <i ></i>{{user.email}}</td>
                      </tr>
                      <tr>
                        <td>CNI</td>
                        <td>
                          <i ></i>{{user.cni}}</td>
                      </tr>
                      <tr>
                        <td>Numero de Telephone</td>
                        <td>
                          <i ></i>{{user.numeroTelephone}}</td>
                      </tr>
                      <tr>
                        <td>Place</td>
                        <td>
                          <i ></i>{{user.placeSignatory.namePlace}}</td>
                      </tr>
                      <tr>
                        <td>Option</td>
                        <td>
                          <i ></i>{{user.option}}</td>
                      </tr>
                      <tr>
                        <td>Date de Naissance</td>
                        <td>
                          <i ></i>{{user.dateNaissance}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          
          </div>
          
       </section>
       <!-- End: Content -->
      <app-footer></app-footer>
    </div>
  
  </section>
</div>