<div id="main">
  <app-header></app-header>
  <section id="content_wrapper">
    <br/> <br/> <br/> 
    <header id="topbar" class="alt" style="position: fixed;">
      <div class="topbar-left">
          <ol class="breadcrumb">
              <li class="crumb-active">
                  <a href="dashboard.html">Dashboard</a>
              </li>
              <li class="crumb-icon">
                  <a href="dashboard.html">
                      <span class="glyphicon glyphicon-home"></span>
                  </a>
              </li>
              <li class="crumb-link">
                  <a href="index.html">Diplome</a>
              </li>
           
          </ol>
      </div>
  </header>
  <br/> <br/> <br/> 
    <div class="mt-5 container">
      <div class="row">
        <div class="col-md-6">
          <button  type="button" class="btn btn-primary"  data-toggle="modal" data-target="#exampleModalCenter1">Ajouter un Personnel</button>
        </div>
      </div> <br/>
      <div class="panel" id="spy1">
        <div class="panel-heading">
          <span class="panel-title">
            <span class="fa fa-table"></span>Liste des Comptes</span>
         
        </div>
        <div class="panel-body pn">
          <table class="table footable">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Prenom & Nom</th>
                  <th>Email</th>
                  <th>Lieu</th>
                  <th>Option</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of users;index as i">
                  <td>{{i+1}}</td>
                  <td>{{item.prenom+" "+item.nom}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.place=='No Place'?'':item.place}}</td>
                  <td>
                    <button title='Supprimer {{item.prenom+" "+item.nom}}' type="button" class="btn btn-default light" (click)="onDelete(item.id,item.email)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
               
              </tbody>
            </table>
        </div>
      </div>
       <!-- End: Topbar-Dropdown -->
       <div  class="modal fade" tabindex="-1" role="dialog" id="exampleModalCenter1" aria-labelledby="gridSystemModalLabel" >
        <div class="modal-dialog" role="document" >
          
          <div class="modal-content">
            <div class="modal-header">
    
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="badge badge-danger">X</span></button>
            
            </div>
            <form [formGroup]="formModal" (ngSubmit)="onSubmit()">
              <div class="modal-body">
               
                  <h2 class="modal-title" id="gridSystemModalLabel" style="position: relative;">Ajouter un Diplome</h2>
                  <div>
                      <div class="admin-form">
                        
                            <div class="panel-body bg-light">
                             
                                  <div class="row"> 
                                    <div class="col-md-6">
                                      <h4>Prenom</h4>
                                      <label for="poste" class="field prepend-icon"> 
                                        <input type="text" class="gui-input" placeholder="Diplome"
                                        class="form-control" formControlName="prenom" 
                                        required >
    
                                        <label for="poste" class="field-icon">
                                          <i class="fa fa-user"></i>
                                        </label>
                                      </label>
                                    </div>
                                    <div class="col-md-6">
                                      <h4>Nom</h4>
                                      <label for="poste" class="field prepend-icon">
                                        <input type="text" class="gui-input" placeholder="Diplome"
                                        class="form-control"  formControlName="nom"
                                        required >
    
                                        <label for="poste" class="field-icon">
                                          <i class="fa fa-user"></i>
                                        </label>
                                      </label>
                                    </div>
                                  </div>
                                  
                                  <div class="row"> 
                                    <div class="col-md-6">
                                      <h4>Email</h4>
                                      <label for="poste" class="field prepend-icon">
                                        <input type="email" class="gui-input" placeholder="Diplome"
                                        class="form-control"  formControlName="email" 
                                        required >
    
                                        <label for="poste" class="field-icon">
                                          <i class="fa fa-envelope"></i>
                                        </label>
                                      </label>
                                    </div>
                                    <div class="col-md-6">
                                      <h4>Role</h4>
                                      <div class="section mb15">
                                        <label class="field select">
                                          <select formControlName="role" id="filter-categories" name="filter-categories"  (change)="onChangeRole()">
                                            <option value="ADMIN" selected="selected">ADMIN</option>
                                            <option value="SIGNATAIRE">SIGNATAIRE</option>
                                            <option value="SECRETAIRE">SECRETAIRE</option>
                                          </select>
                                          <i class="arrow double"></i>
                                        </label>
                                      </div>
                                    </div>
                                  </div>
                                 
                                  <div class="row" *ngIf="isActive"> 
                                    <div class="col-md-12">
                                      <h4>Place Signataire</h4>
                                      <div class="section mb15">
                                        <label class="field select">
                                          <select formControlName="place" id="filter-categories" name="filter-categories">
                                            <option *ngFor="let item of places"  value='{{item.id}}' selected="selected">{{item.namePlace}}</option>
                                          </select>
                                          <i class="arrow double"></i>
                                        </label>
                                      </div>
                                    </div>
                                  </div>
                           
                             </div>
                        </div>
                        
                    </div>
                    
                  
              </div> <br>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button name="change_annee" type="submit" class="btn btn-primary" [disabled]="formModal.invalid">Enregistrer</button>
              </div>
            </form>
          </div>
          
          </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
     <!-- End: Topbar-Dropdown update -->
     
      <app-footer></app-footer>
    </div>
  
  </section>

</div>
