        <div class="tray tray-center">
          <div class="panel mb25 mt5">
            <div class="panel-heading">
              <span class="panel-title hidden-xs">Créer Nouveau Compte</span>
            </div>
            <div class="panel-body p25 pb5">
              <div class="tab-content pn br-n admin-form">
                <div id="tab1_1" class="tab-pane active">
                  <form class="form-horizontal" [formGroup]="InfoForm" (ngSubmit)="saveDemande()">
                  <div class="section row">
                    <div class="col-md-6">
                      <label for="compte" class="field prepend-icon">
                        <input type="text" name="type" id="type" class="gui-input" placeholder="Type de Compte..."
                        class="form-control"  formControlName="type"
                              required >
                              <div *ngIf="type.invalid && (type.dirty || type.touched)"
                              class="alert alert-danger">
                          
                            <div *ngIf="type.errors?.required">
                              Renseigner le type de compte
                            </div>
                          </div>
            
                        <label for="firstname" class="field-icon">
                          <i class="fa fa-user"></i>
                        </label>
                      </label>
                    </div>
                    <div class="col-md-6">
                      <label for="email" class="field prepend-icon">
                        <input type="email" name="email" id="email" class="gui-input" placeholder="Email address"
                        class="form-control"  formControlName="email"
                        required >
                        <div *ngIf="email.invalid && (email.dirty || email.touched)"
                        class="alert alert-danger">
                    
                      <div *ngIf="email.errors?.required">
                        Renseigner l'email du proprietaire
                      </div>
                    </div>
                        <label for="email" class="field-icon">
                          <i class="fa fa-envelope"></i>
                        </label>
                      </label>
                    </div>
                  </div>
                  <div class="section row">
                    <div class="col-md-6">
                      <label for="poste" class="field prepend-icon">
                        <input type="text" name="poste" id="poste" class="gui-input" placeholder="Poste..."
                        class="form-control"  formControlName="poste"
                        required >
                        <div *ngIf="poste.invalid && (poste.dirty || poste.touched)"
                        class="alert alert-danger">
                    
                      <div *ngIf="poste.errors?.required">
                        Renseigner le poste du proprietaire
                      </div>
                    </div>
                        <label for="poste" class="field-icon">
                          <i class="fa fa-user"></i>
                        </label>
                      </label>
                    </div>
                    <div class="col-md-6">
                      <label for="mobile" class="field prepend-icon">
                        <input type="password" name="password" id="password" class="gui-input" placeholder="Mot de passe"
                        class="form-control"  formControlName="mdp"
                        required minlength="8">
                        <div *ngIf="mdp.invalid && (mdp.dirty || mdp.touched)"
                        class="alert alert-danger">
                    
                      <div *ngIf="mdp.errors?.required">
                        Renseigner le mot de passe du proprietaire
                      </div>
                      <div *ngIf="mdp.errors?.minlength">
                        8 caractères au minimum
                      </div>
                    </div>
                        <label for="password" class="field-icon">
                          <i class="fa fa-phone-square"></i>
                        </label>
                      </label>
                    </div>
                  </div>  
                    <div class="col-sm-12">
                      <p class="text-right">
                        <button class="btn btn-primary " type="submit" [disabled]="!InfoForm.valid">Enregistrer</button>
                      </p>
                    </div>
                  </form>
                  </div>
                </div>
              </div>
          <div class="panel" style="margin-top: 20px;">
            <div class="panel-menu admin-form theme-primary">
                Liste dess Comptes
            </div>
            <div class="panel-body pn">
              <div class="table-responsive">
                <table class="table admin-form theme-warning tc-checkbox-1 fs13">
                  <thead>
                    <tr class="bg-light">
                      <th class="">Compte ID</th>
                      <th class="">Type</th>
                      <th class="">Poste</th>
                      <th class="">Email</th>
                      <th class="text-center">Mot de passe</th>
                    </tr>
                  </thead>
                  <tbody>      
                    <tr>
                      <td >#50362061</td>
                      <td >Signataire</td>
                      <td >genieInf</td>
                      <td >ibrahimadiop6@esp.sn</td>
                      <td > Mot de passe</td>
                    </tr>
                    <tr>
                        <td >#50362061</td>
                        <td >Personne X</td>
                        <td >_</td>
                        <td >ibrahimadiop6@esp.sn</td>
                        <td > Mot de passe</td>
                      </tr>
                      <tr>
                        <td >#50362061</td>
                        <td >Signataire</td>
                        <td >finances</td>
                        <td >ibrahimadiop6@esp.sn</td>
                        <td > Mot de passe</td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
