<div class="panel" id="spy2">
    <div class="panel-heading">
      <span class="panel-title">
        <span class="fa fa-search"></span>Liste des documents disponibles</span>
      <div class="pull-right">
        <code class="mr20">Vous pouvez filtrer la liste&quot;suivant le critère de votre choix&quot;</code>
      </div>
    </div>
    <div class="panel-menu">
      <input id="fooFilter" type="text" class="form-control" placeholder="Rechercher...">
    </div>
    <div class="panel-body pn">
      <table class="table footable" data-filter="#fooFilter">
          <thead>
            <tr>
              <th>ID-Demande</th>
              <th>CNI Acquéreur</th>
              <th>Nom</th>
              <th>Nivau</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>84512845</td>
              <td>1458987401254</td>
              <td>Bulletin d Notes</td>
              <td>DUT1</td>
            </tr>
            <tr>
                <td>84512845</td>
                <td>1458987401254</td>
                <td>Attestation de Réussite</td>
                <td>DUT1</td>
              </tr >           
              <tr>
                <td>84512845</td>
                <td>000000401254</td>
                <td>Bulletin d Notes</td>
                <td>Licence 3 </td>
              </tr>
          </tbody>
        </table>
    </div>
  </div>