  <div class="panel-body border">
    <div class="panel">
      <div class="panel-heading">
        <span class="panel-title">Faire une demande</span>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" (ngSubmit)="saveDemande()" #serviceForm>
          
                    <div class="form-group">
                      <label class="col-md-3 control-label" for="serviceNameId">Nom de la Demande</label>
                      <div class="col-md-8">
                        <select id="serviceNameId" class="select2-single form-control" formControlName="serviceName">
                          <option >Atttestation DUT</option>
                          <option >Attestation Licence</option>
                          <option >Attestation Master</option>
                          <option >Attestation DIC</option>
                          <option >Attestation DIT</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-11 control-label">
                          <button type="submit" class="btn btn-rounded-outline btn-success btn-inline"
                          [disabled]="!serviceForm.checkValidity">Soumettre</button>
                      </div>
                        </div>
                        </form>
                    </div>
                  </div>
    <div class="panel" id="spy4">
      <div class="panel-heading">
        <span class="panel-title">
          <span class="fa fa-table"></span>Historque des demandes</span>
        <div class="pull-right hidden-xs">
          <code class="mr20"></code>
        </div>
      </div>
      <div class="panel-body pn">
        <div class="table-responsive">
          <div class="bs-component">
            <table class="table table-bordered mbn">
              <thead>
                <tr>
                  <th>ID-Demande</th>
                  <th>Nom du document démandé</th>
                  <th>Niveau du document</th>
                  <th>Statut</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Attestation de Réussite</td>
                  <td>Licence</td>
                  <td class="success" >Réussi</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Attestation depassage</td>
                  <td>DUT</td>
                  <td class="danger">Echoué</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Bulletin de Notes</td>
                  <td>DIC2</td>
                  <td class="warning">Suspendu</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Bulletin de notes</td>
                  <td>DUT1</td>
                  <td class="success">Réussi</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>



