<div class="panel" id="spy4">
    <div class="panel-heading">
      <span class="panel-title">
        <span class="fa fa-arrows-v"></span>Demandes en cours</span>
      <div class="pull-right">
        <code class="mr20">Appuyez sur Voir plus pour voir</code>
      </div>
    </div>
    <div class="panel-body pn">
      <table class="table footable fw-labels" data-page-size="20">
        <thead>
          <tr>
            <th>Id</th>
            <th data-toggle="true">Nom Demande</th>
            <th>Statut</th>
            <th>Details</th>
            </tr>
        </thead>
        <tbody>
          <tr class="row-primary" *ngFor="let ml of MaListe">
            <td>{{ml.id}}</td>
            <td>{{ml.Nom}}</td>
            <td>{{ml.Statut}}</td>
            <td>
              <button class="btn btn-xs btn-primary" [routerLink]="['/etudiant','progression',ml.Nom]">Voir Plus</button>
            </td>
          </tr>  
        </tbody>
      </table>
    </div>
  </div>