<div id="main">
    <app-header></app-header>
    <section id="content_wrapper">
      <br/> <br/> <br/> 
        <header id="topbar" class="alt" style="position: fixed;">
            <div class="topbar-left">
                <ol class="breadcrumb">
                    <li class="crumb-active">
                        <a href="dashboard.html">Dashboard</a>
                    </li>
                    <li class="crumb-icon">
                        <a href="dashboard.html">
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                    </li>
                    <li class="crumb-link">
                        <a href="index.html">Home</a>
                    </li>
                    <li class="crumb-trail">Dashboard</li>
                </ol>
            </div>
        </header>
        <br/> <br/> <br/> 
      <div class="mt-5 container">
        <section id="content" class="table-layout animated fadeIn">

          
    
            <!-- begin: .tray-center -->
            <div class="tray tray-center pn bg-light">
    
                <div class="panel">
    
                <!-- message toolbar header -->
                <div class="panel-menu br-n">
                  <div class="row">
                    <div class="hidden-xs hidden-sm col-md-3">
                      <div class="btn-group">
                        <button type="button" class="btn btn-default light">
                          <i class="fa fa-refresh"></i>
                        </button>
                        <button type="button" class="btn btn-default light">
                          <i class="fa fa-trash"></i>
                        </button>
                       
                      </div>
                      <div class="btn-group">
                        <select class="form-control" >
                            <option value="">Type Status</option>
                            <option value="1">EN ATTENTE</option>
                            <option value="2">ACCEPT&Eacute;</option>
                            <option value="2">R&Eacute;FUS&Eacute;</option>
                          </select>
                      </div>
                    </div>
                    <div class="hidden-xs hidden-sm col-md-3">
                      <div class="btn-group">
                        <input type="text" id="inputStandard" class="form-control" placeholder="Numero Etudiant"> 
                      </div>
                    </div>
                  </div>
                </div>
    
                  <!-- message listings table -->
                  <table id="message-table" class="table tc-checkbox-1 admin-form theme-warning br-t">
                    <thead>
                      <tr class="">
                        <th class="text-center hidden-xs">Select</th>
                        <th class="hidden-xs">Pernom & Nom</th>
                        <th>Numero Etudiant</th>
                        <th>Diplome</th>
                        <th class="hidden-xs">Status</th>
                      </tr>
                    </thead>
                    <tbody class="table table-hover">
                      <tr class="message-unread"  style="cursor: pointer;" title="lami">
                        <td class="hidden-xs">
                          <label class="option block mn">
                            <input type="checkbox" name="mobileos" value="FR">
                            <span class="checkbox mn"></span>
                          </label>
                        </td>
                        <td class="">
                          Mamadou LAMINE
                        </td>
                        <td class="">SENE</td>
                       
                        <td class="">DUT</td>
                        <td class="hidden-xs">
                          <span class="badge badge-warning mr10 fs11"> EN ATTENTE </span>
                        </td>
                        
                      </tr>
                      <tr class="message-unread"style="cursor: pointer;" title="lami">
                        <td class="hidden-xs">
                          <label class="option block mn">
                            <input type="checkbox" name="mobileos" value="FR">
                            <span class="checkbox mn"></span>
                          </label>
                        </td>
                        <td class="">
                          Mamadou LAMINE SENE
                        </td>
                        <td class="">201707VTX</td>
                       
                        <td class="">DUT</td>
                        <td class="hidden-xs">
                          <span class="badge badge-success mr10 fs11"> ACCEPT&Eacute;</span>
                        </td>
                        
                      </tr>
                      <tr class="message-unread"  style="cursor: pointer;" title="lami">
                        <td class="hidden-xs">
                          <label class="option block mn">
                            <input type="checkbox" name="mobileos" value="FR">
                            <span class="checkbox mn"></span>
                          </label>
                        </td>
                        <td class="">
                          Mamadou LAMINE
                        </td>
                        <td class="">SENE</td>
                       
                        <td class="">DUT</td>
                        <td class="hidden-xs">
                          <span class="badge badge-danger mr10 fs11"> R&Eacute;FUS&Eacute; </span>
                        </td>
                        
                      </tr>
                    </tbody>
                  </table>
    
                  </div>
    
            </div>
            <!-- end: .tray-center -->
    
          </section>
        <app-footer></app-footer>
      </div>
    
    </section>
  </div>