<div id="main">
    <app-header></app-header>
    <section id="content_wrapper">
      <br/> <br/> <br/> 
        <header id="topbar" class="alt" style="position: fixed;">
            <div class="topbar-left">
                <ol class="breadcrumb">
                    <li class="crumb-active">
                        <a href="dashboard.html">Dashboard</a>
                    </li>
                    <li class="crumb-icon">
                        <a href="dashboard.html">
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                    </li>
                    <li class="crumb-link">
                        <a href="index.html">Home</a>
                    </li>
                    <li class="crumb-trail">Dashboard</li>
                </ol>
            </div>
        </header>
        <br/> <br/> <br/> 
      <div class="mt-5 container">
        <section id="content" class="table-layout animated fadeIn">

          
    
            <!-- begin: .tray-center -->
            <div class="tray tray-center pn bg-light">
    
                <div class="panel">
    
                <!-- message toolbar header -->
                <div class="panel-menu br-n">
                  <form  [formGroup]="formModal">
                    <div class="row">
                      <div class="hidden-xs hidden-sm col-md-3">
                        <div class="btn-group">
                          <button type="button" (click)="refresh()" class="btn btn-default light">
                            <i class="fa fa-refresh"></i>
                          </button>
                        
                        
                        </div>
                        <div class="btn-group">
                          <select class="form-control" (change)="getStatus()" formControlName="status">
                              <option value="">Type Status</option>
                              <option value="Waiting">EN ATTENTE</option>
                              <option value="Accept">ACCEPT&Eacute;</option>
                              <option value="Refuse">R&Eacute;FUS&Eacute;</option>
                            </select>
                        </div>
                      </div>
                      <div class="hidden-xs hidden-sm col-md-3">
                        <div class="btn-group">
                          <input type="text" id="inputStandard" class="form-control" placeholder="Numero Etudiant" (input) ="numEtudiant()"  formControlName="numero" > 
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
    
                  <!-- message listings table -->
                  <table id="message-table" class="table tc-checkbox-1 admin-form theme-warning br-t">
                    <thead>
                      <tr class="">
                        <th class="text-center hidden-xs">Select</th>
                        <th class="hidden-xs">Pernom & Nom</th>
                        <th>Numero Etudiant</th>
                        <th>Diplome</th>
                        <th class="hidden-xs">Status</th>
                      </tr>
                    </thead>
                    <tbody class="table table-hover">
                      <tr *ngFor="let item of messages;index as i" title="cliquer pour lire le message" class="message-unread" (click)="onUpdate(item.id)" style="cursor: pointer;">
                        <td class="hidden-xs">
                          {{i+1}}
                        </td>
                        <td class="">
                          {{item.prenom+" "+item.nom}}
                        </td>
                        <td class="">{{item.numero}}</td>
                       
                        <td class="">{{item.diplome}}</td>
                        <td [ngClass]="{'success': item.response=='Accept','warning':item.response=='Waiting','danger':item.response=='Refuse'}">
                           <strong>
                             {{item.response=='Waiting'?'EN ATTENTE':item.response=='Accept'?'ACCEPT&Eacute;':'R&Eacute;FUS&Eacute;'}}
                            </strong>  
                        </td>
                        
                      </tr>
                     
                    </tbody>
                  </table>
    
                  </div>
    
            </div>
            <!-- end: .tray-center -->
    
          </section>
        <app-footer></app-footer>
      </div>
    
    </section>
  </div>